body {
    background-color: #BDE7F2;
    border-style: solid;
    border-color: #8f7b5a;

}
h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: right; 
    padding: 30px;
    color: #4c545c;
}
p {
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    text-align: center;
    color: #4C545C;
}
h3 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    color: #4C545C;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

button {
    background-color: #8f7b5a;
    color:#BDE7F2;
    text-align: center;
    padding: 18px;
    font-size: 12px;
    border-radius: 8px;
    border: 2px solid #8f7b5a;
    transition-duration: 0.5s; 
    margin: 20px;
}

button:hover {
    background-color: #BDE7F2;
    color: #8f7b5a;
}
