p.textboxa {
  
    background-color: #7EA5A7;
    font-family: 'Sacramento', cursive;
    color: white;
    font-size: 60px;
    border-radius: 8px;
    padding: 20px;
}
p.textboxj {

    
    background-color: #51433A;
    font-family: 'Just Another Hand', cursive;
    color: white;
    font-size: 60px;
    border-radius: 8px;
    padding:20px;
}
p.textboxb {

    
    background-color: #97B2F0;
    font-family: 'Caveat', cursive;
    color: white;
    font-size: 60px;
    border-radius: 8px;
    padding: 20px;
}
body.august{
    background-color: #DBB093;
    /* height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center; */
}

body.james{
    background-color: #7CA68C;
}
body.betty{
    background-color: #BFEDF0;
}

button.august1 {
 
   
        position: absolute;
        bottom: 10px;
        right: 10px;
        padding: 10px;
        background-color: #3498db;
        color: #fff;
        text-decoration: none;
        border: none;
        cursor: pointer;
        font-size: 30px;
      
    
}
button.august2{
position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  margin: 20px;
  background-color: #FCA56A;
  color: #fff;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 30px;
  
}

/* button.august2 {
 
    outline: 0;
    border:0;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    color: #000;
    background: #fff;
    line-height: 30px;
    border-radius: 40px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
    box-shadow: rgb(255, 198, 0) -2px -2px 0px 2px, rgb(243, 159, 205) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
    transition: all 0.2s;
    button.august1:hover{
        box-shadow: rgb(246, 84, 174) -2px -2px 0px 2px, rgb(255, 198, 0) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
        transform: scale(1.01);
    }
    
} */

/* .room{
    display: grid;
    place-items: center;
    max-width: fit-content;
    max-height: fit-content;
      } */

/* button.left{
    margin-right: 80%;
    display: inline-block;
    outline: 0;
    border:0;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    color: #000;
    background: #fff;
    line-height: 30px;
    border-radius: 40px;

    font-size: 30px;
    font-weight: 600;
    box-shadow: rgb(255, 198, 0) -2px -2px 0px 2px, rgb(243, 159, 205) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
    transition: all 0.2s;
} */

/* button.right{
    margin-left: 80%;
    display: inline-block;
    outline: 0;
    border:0;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    color: #000;
    background: #fff;
    line-height: 30px;
    border-radius: 40px;
    font-size: 30px;
    font-weight: 600;
    box-shadow: rgb(255, 198, 0) -2px -2px 0px 2px, rgb(243, 159, 205) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
    transition: all 0.2s;
} */





.container {
    display: flex;
  }
  
  .image, .text {
    flex: 1;
    box-sizing: border-box;
    max-width: 50%; /* Adjust the maximum width of each item as needed */
    padding: 20px; /* Adjust padding as needed */
  }
  
  .image img {
    width: 100%;
    height: auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
  }
 
  .container2 {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #DBB093;
  }
  
  .left-button,
  .right-button {
    margin: 20px;
    padding: 10px;
    background-color: #2ecc71;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-size: 30px;
  }
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
